<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()"><i class="icon ion-close"></i></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="card" ng-if="message!=''">
      <div class="item item-text-wrap">
       {{message}}
      </div>
    </div>
    <form>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="user.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="user.password">
        </label>
        <label class="item">
          <button ng-click="processLogin(user)" class="button button-block button-positive" type="submit">Log in</button>
        </label>
        <div class="item">
          <a ng-click="forgot()" class="button button-full button-royal">Forgot Password</a>
        </div>
      </div>
    </form>

  </ion-content>
</ion-modal-view>
